In [4]:
import pandas as pd

In [6]:
#pd.series()
#pd.DataFrame()

k=[4,7,2,9,7,3,90,50]
k

In [8]:
k=[4,7,2,9,7,3,90,50]
k

[4, 7, 2, 9, 7, 3, 90, 50]

In [16]:
pd.Series(k)

0     4
1     7
2     2
3     9
4     7
5     3
6    90
7    50
dtype: int64

In [18]:
l=[[4,7],[2,9],[7,3],[90,50]]
l

[[4, 7], [2, 9], [7, 3], [90, 50]]

In [22]:
pd.Series(l)

0      [4, 7]
1      [2, 9]
2      [7, 3]
3    [90, 50]
dtype: object

In [26]:
import numpy as np
a=np.array(l)
a

array([[ 4,  7],
       [ 2,  9],
       [ 7,  3],
       [90, 50]])

In [28]:
a.ndim

2

In [30]:
pd.Series(a)

ValueError: Data must be 1-dimensional, got ndarray of shape (4, 2) instead

In [32]:
pd.DataFrame(a)

    0   1
0   4   7
1   2   9
2   7   3
3  90  50

In [36]:
pd.DataFrame(a,columns=['name','subject'])

   name  subject
0     4        7
1     2        9
2     7        3
3    90       50

In [48]:
d=pd.DataFrame(a,columns=['name','subject'],index=[20,21,22,23])
d

    name  subject
20     4        7
21     2        9
22     7        3
23    90       50

In [52]:
d.columns

Index(['name', 'subject'], dtype='object')

In [54]:
d.index

Index([20, 21, 22, 23], dtype='int64')

In [56]:
d['name']

20     4
21     2
22     7
23    90
Name: name, dtype: int64

In [58]:
d['subject']

20     7
21     9
22     3
23    50
Name: subject, dtype: int64

In [66]:
d.loc[20]#to access row wise

name       4
subject    7
Name: 20, dtype: int64

In [72]:
d['name'].mean()

25.75

In [74]:
d['name'].max()

90